opendr==0.78
matplotlib==3.7.3
yacs==0.1.8
numpy==1.23.1
scipy==1.10.1
pandas==1.4.0
pillow==9.3.0
transformers==4.20.1
segmentation_models_pytorch==0.2.0
opencv-contrib-python==4.4.0.46
opencv-python==4.4.0.46
six==1.16.0
cython
nltk
chumpy
boto3
requests
tqdm
